# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Docker
.env
.dockerignore

# VSCode / IDE settings
.vscode/
.idea/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Jupyter notebooks (in case)
.ipynb_checkpoints/

# Ignore compiled Cython debug symbols
cython_debug/
